body {
    text-align: center;
    background: rgb(255, 153, 10);
    background: linear-gradient(90deg, rgba(255, 153, 10, 1) 24%, rgba(255, 100, 70, 1) 43%, rgba(255, 175, 125, 1) 64%, rgba(255, 210, 125, 1) 83%);
    background-repeat: no repeat;
}



h1 {
    text-shadow: 1px 2px #d1f7ff;
    font-size: 20px;
    color: floralwhite
}

p {
    padding-top: 50px font-size:18px;
    color: aliceblue;
}



li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}


li a:hover {
    background-color: #111;
    border-right: 1px solid #bbb;
}

.active {
    background-color: #04AA6D;
}

h2 {
    text-shadow: 1px 2px #d1f7ff;
    font-size: 20px;
    color: aquamarine
}


a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}


img{
  border-radius:50%;
  width:400px;
}

h1
{
  text-shadow: 1px 2px #d1f7ff;
  font-size:20px;
  color:
}

p{
  padding-top:50px
  font-size:18px;
  color:white;
}


.menu{
list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}


li {
 float: left;
    display: inline;
}


a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}




.link{
    color:crimson;
    display: inline;
    padding-top:5px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom: 5px;
}


.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
